
<!--figyelem! legyen benne <input type="hidden" name="itemid" data="id" /> mező -->


<h4><!--##passwd_change--></h4>
<!--<h5>hiba</h5>-->
<form    method="post" action="" >

    <div class="form-group">
        <input type="password" class="form-control" name="oldpass" placeholder="Régi jelszó" data="oldpass" required="required" ><!--##regi_jelszo-->
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Új jelszó" data="password" required="required" ><!--##uj_jelszo-->
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password2" placeholder="Új jelszó mégegyszer" data="password2" required="required" ><!--##uj_megegyszer-->
    </div>
    <div class="form-group">
        <input type="hidden" name="itemid" data="id" />
        <input type="hidden" name="mod" value="login" />
        <button type="submit" name="ltask" value="szerkment" class="btn btn-primary btn-lg">Ment</button><!--##ment-->
       <button type="reset" name="ltask" value="cancel" class="btn btn-primary btn-lg" onclick="index.php'" >Mégsem</button><!--##megsem-->
   </div>

 </form>

